# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Ignorar todos los documentos subidos
/public/otros anexos/
/public/dictamen/
/public/anexo técnico/
/public/cotización/
/public/suficiencia/
/public/notas/

public/dictamen/*
!public/dictamen/.gitkeep

public/cotización/*
!public/cotización/.gitkeep

public/anexo técnico/*
!public/anexo técnico/.gitkeep

public/documentos_adicionales/*
!public/documentos_adicionales/.gitkeep

public/otros anexos/*
!public/otro/.gitkeep
/public/