@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcfcfc;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*Color menu 13508b */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Estilos globales para modales */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  overflow-y: auto;
  padding: 1rem; /* Espacio para evitar cortes en pantallas pequeñas */
}

.modal-content {
  width: 60%; /* Cambia el ancho de la ventana modal */
  max-width: 1200px; /* Limitar el tamaño máximo en pantallas más grandes */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 4rem); /* Altura máxima para evitar cortes */
  overflow-y: auto; /* Desplazable si el contenido es demasiado grande */
}

.bg-custom-color {
  background-color: #13508b;
}
.permiso-row {
  border-bottom: 1px solid #ddd;
}

canvas {
  border: 1px solid #ddd;
  touch-action: none; /* Evitar gestos predeterminados */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-effect {
  animation: bounce 0.6s ease infinite;
}


/* Menú para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .menu-item {
    display: none; /* Oculta los elementos del menú por defecto */
  }

  .menu-item-1 {
    display: block; /* Muestra la primera opción */
  }

  .menu-item-2 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-3 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-4 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-5 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-6 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-7 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-8 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-9 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-10 {
    display: none; /* Oculta la segunda opción */
  }
  .menu-item-11 {
    display: none; /* Oculta la segunda opción */
  }

  /* Continúa ajustando más elementos conforme el tamaño de la pantalla */
}

/* Menú para pantallas medianas y grandes */
@media (min-width: 769px) {
  .menu-item {
    display: block; /* Muestra todos los elementos en pantallas grandes */
  }
}
